<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tlstool.mapper.CertificateDetailMapper">

    <resultMap id="BaseResultMap" type="com.example.tlstool.entity.po.CertificateDetailPO">
            <id property="certId" column="cert_id" />
            <result property="asPem" column="as_pem" />
            <result property="fingerprintSha1" column="fingerprint_sha1" />
            <result property="fingerprintSha256" column="fingerprint_sha256" />
            <result property="serialNumber" column="serial_number" />
            <result property="notValidBefore" column="not_valid_before" />
            <result property="notValidAfter" column="not_valid_after" />
            <result property="signatureHashAlgorithmName" column="signature_hash_algorithm_name" />
            <result property="signatureHashAlgorithmDigestSize" column="signature_hash_algorithm_digest_size" />
            <result property="signatureAlgorithmOidName" column="signature_algorithm_oid_name" />
            <result property="signatureAlgorithmOidDottedString" column="signature_algorithm_oid_dotted_string" />
            <result property="subjectRfc4514String" column="subject_rfc4514_string" />
            <result property="subjectCountry" column="subject_country" />
            <result property="subjectState" column="subject_state" />
            <result property="subjectLocality" column="subject_locality" />
            <result property="subjectOrganization" column="subject_organization" />
            <result property="subjectOrganizationalUnit" column="subject_organizational_unit" />
            <result property="subjectCommonName" column="subject_common_name" />
            <result property="issuerRfc4514String" column="issuer_rfc4514_string" />
            <result property="issuerCountry" column="issuer_country" />
            <result property="issuerState" column="issuer_state" />
            <result property="issuerLocality" column="issuer_locality" />
            <result property="issuerOrganization" column="issuer_organization" />
            <result property="issuerOrganizationalUnit" column="issuer_organizational_unit" />
            <result property="issuerCommonName" column="issuer_common_name" />
            <result property="publicKeyAlgorithm" column="public_key_algorithm" />
            <result property="publicKeyKeySize" column="public_key_key_size" />
            <result property="publicKeyRsaE" column="public_key_rsa_e" />
            <result property="publicKeyRsaN" column="public_key_rsa_n" />
            <result property="publicKeyEcCurveName" column="public_key_ec_curve_name" />
            <result property="publicKeyEcX" column="public_key_ec_x" />
            <result property="publicKeyEcY" column="public_key_ec_y" />
            <result property="subjectAlternativeName" column="subject_alternative_name" typeHandler="com.example.tlstool.handler.JsonNodeTypeHandler"/>
            <result property="createdAt" column="created_at" />
            <result property="certificateDeploymentId" column="certificate_deployment_id" />
            <result property="pathValidationResultId" column="path_validation_result_id" />
            <result property="certificateDetailIndex" column="certificate_detail_index" />
    </resultMap>

    <sql id="Base_Column_List">
        cert_id,as_pem,fingerprint_sha1,fingerprint_sha256,serial_number,not_valid_before,
        not_valid_after,signature_hash_algorithm_name,signature_hash_algorithm_digest_size,signature_algorithm_oid_name,signature_algorithm_oid_dotted_string,
        subject_rfc4514_string,subject_country,subject_state,subject_locality,subject_organization,
        subject_organizational_unit,subject_common_name,issuer_rfc4514_string,issuer_country,issuer_state,
        issuer_locality,issuer_organization,issuer_organizational_unit,issuer_common_name,public_key_algorithm,
        public_key_key_size,public_key_rsa_e,public_key_rsa_n,public_key_ec_curve_name,public_key_ec_x,
        public_key_ec_y,subject_alternative_name,created_at,certificate_deployment_id,path_validation_result_id,
        index
    </sql>

<!--    <select id="getCertificateInfoPageByTaskId" resultType="com.example.tlstool.entity.dto.CertificateInfoDTO">-->
<!--        SELECT cdetail.cert_id AS certId,-->
<!--               serial_number AS serialNumber,-->
<!--               issuer_rfc4514_string AS issuerEfc4514String,-->
<!--               not_valid_before AS notValidBefore,-->
<!--               not_valid_after AS notValidAfter,-->
<!--               public_key_algorithm AS publicKeyAlgorithm,-->
<!--               public_key_key_size AS publicKeySize,-->
<!--               signature_hash_algorithm_name AS signatureHashAlgorithmName,-->
<!--               was_validation_successful AS wasValidationSuccessful,-->
<!--               trust_store_path AS trustStorePath,-->
<!--               trust_store_name AS trustStoreName,-->
<!--               trust_store_version AS trustStoreVersion,-->
<!--               ocsp_response_is_trusted,-->
<!--               ocsp_response_response_status,-->
<!--               cdetail.certificate_detail_index AS certificateDetailIndex,-->
<!--               cdetail.path_validation_result_id AS pathValidationResultId-->
<!--        FROM scan_task stask-->
<!--                 RIGHT JOIN scan_target starget ON stask.task_id = starget.task_id-->
<!--                 RIGHT JOIN certificate_deployment cdeployment ON cdeployment.target_id = starget.target_id-->
<!--                 RIGHT JOIN path_validation_result pvr ON pvr.certificate_deployment_id = cdeployment.certificate_deployment_id-->
<!--                 RIGHT JOIN certificate_detail cdetail ON pvr.path_validation_result_id = cdetail.path_validation_result_id-->
<!--        WHERE stask.task_id = #{taskId}-->
<!--        ORDER BY cdetail.path_validation_result_id, cdetail.certificate_detail_index-->
<!--        LIMIT #{offset}, #{size};-->
<!--    </select>-->

    <select id="getCertificateInfoPageByTaskId" resultType="com.example.tlstool.entity.dto.CertificateInfoDTO">
        SELECT cdetail.cert_id AS certId,
               serial_number AS serialNumber,
               issuer_rfc4514_string AS issuerEfc4514String,
               not_valid_before AS notValidBefore,
               not_valid_after AS notValidAfter,
               public_key_algorithm AS publicKeyAlgorithm,
               public_key_key_size AS publicKeySize,
               signature_hash_algorithm_name AS signatureHashAlgorithmName,
               ocsp_response_is_trusted,
               ocsp_response_response_status,
               cdetail.certificate_detail_index AS certificateDetailIndex,
               cdetail.path_validation_result_id AS pathValidationResultId,
               cdetail.certificate_deployment_id AS certificateDeploymentId
        FROM scan_task stask
                 RIGHT JOIN scan_target starget ON stask.task_id = starget.task_id
                 RIGHT JOIN certificate_deployment cdeployment ON cdeployment.target_id = starget.target_id
                 RIGHT JOIN certificate_detail cdetail ON cdetail.certificate_deployment_id = cdeployment.certificate_deployment_id
        WHERE stask.task_id = #{taskId}
        <if test="count != null">
            AND starget.count = #{count}
        </if>
        ORDER BY cdetail.certificate_deployment_id, cdetail.certificate_detail_index
        LIMIT #{offset}, #{size};
    </select>

<!--    <select id="getCertificateInfoTotalByTaskId" resultType="java.lang.Integer">-->
<!--        SELECT COUNT(*) AS total_count-->
<!--        FROM (-->
<!--                 SELECT cdetail.cert_id AS certId,-->
<!--                        serial_number AS serialNumber,-->
<!--                        issuer_rfc4514_string AS issuerEfc4514String,-->
<!--                        not_valid_before AS notValidBefore,-->
<!--                        not_valid_after AS notValidAfter,-->
<!--                        public_key_algorithm AS publicKeyAlgorithm,-->
<!--                        public_key_key_size AS publicKeySize,-->
<!--                        signature_hash_algorithm_name AS signatureHashAlgorithmName,-->
<!--                        was_validation_successful AS wasValidationSuccessful,-->
<!--                        trust_store_path AS trustStorePath,-->
<!--                        trust_store_name AS trustStoreName,-->
<!--                        trust_store_version AS trustStoreVersion,-->
<!--                        ocsp_response_is_trusted,-->
<!--                        ocsp_response_response_status,-->
<!--                        cdetail.certificate_detail_index AS certificateDetailIndex,-->
<!--                        cdetail.path_validation_result_id AS pathValidationResultId-->
<!--                 FROM scan_task stask-->
<!--                          RIGHT JOIN scan_target starget ON stask.task_id = starget.task_id-->
<!--                          RIGHT JOIN certificate_deployment cdeployment ON cdeployment.target_id = starget.target_id-->
<!--                          RIGHT JOIN path_validation_result pvr ON pvr.certificate_deployment_id = cdeployment.certificate_deployment_id-->
<!--                          RIGHT JOIN certificate_detail cdetail ON pvr.path_validation_result_id = cdetail.path_validation_result_id-->
<!--                 WHERE stask.task_id = #{taskId}-->
<!--                 ORDER BY cdetail.path_validation_result_id, cdetail.certificate_detail_index-->
<!--             )  AS subquery-->
<!--    </select>-->

    <select id="getCertificateInfoTotalByTaskId" resultType="java.lang.Integer">
        SELECT COUNT(*) AS total_count
        FROM (
                 SELECT cdetail.cert_id AS certId,
                        serial_number AS serialNumber,
                        issuer_rfc4514_string AS issuerEfc4514String,
                        not_valid_before AS notValidBefore,
                        not_valid_after AS notValidAfter,
                        public_key_algorithm AS publicKeyAlgorithm,
                        public_key_key_size AS publicKeySize,
                        signature_hash_algorithm_name AS signatureHashAlgorithmName,
                        ocsp_response_is_trusted,
                        ocsp_response_response_status,
                        cdetail.certificate_detail_index AS certificateDetailIndex,
                        cdetail.path_validation_result_id AS pathValidationResultId,
                        cdetail.certificate_deployment_id AS certificateDeploymentId
                 FROM scan_task stask
                          RIGHT JOIN scan_target starget ON stask.task_id = starget.task_id
                          RIGHT JOIN certificate_deployment cdeployment ON cdeployment.target_id = starget.target_id
                          RIGHT JOIN certificate_detail cdetail ON cdetail.certificate_deployment_id = cdeployment.certificate_deployment_id
                 WHERE stask.task_id = #{taskId}
                 <if test="count != null">
                    AND starget.count = #{count}
                 </if>
                 ORDER BY cdetail.certificate_deployment_id, cdetail.certificate_detail_index
             )  AS subquery
    </select>
    <select id="getCertificateChainDetail"
            resultType="com.example.tlstool.entity.po.CertificateDetailPO">
        SELECT * FROM certificate_detail WHERE certificate_deployment_id = #{certificateDeploymentId}
        ORDER BY certificate_detail_index
    </select>
</mapper>
